<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习</title>
	<link rel="stylesheet" type="text/css" href="../res/dist/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../res/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/study_css.css">
	<link rel="stylesheet" type="text/css" href="../res/css/footer.css">
</head>
<body>
	<!--导航栏-->
	<div id="tabs" class="tabs" style="margin:0;height:174px;width:100%;background:url(../res/images/study/head1.jpg);background-position:right;">
		<img class="icon-whut" src="../res/images/study/whut.png" alt="">
		<img class="icon-class" src="../res/images/study/class.png" alt="">
		<!--天气-->
		<div class="weather"><i class="fa fa-sun-o" aria-hidden="true"></i><p>16℃</p><p class="nu">&nbsp;|&nbsp;<a href="#">收藏本站</a>&nbsp;|&nbsp;<a href="#">设为主页</a>
			<div class="weathers">
		    	<h3>星期四&nbsp;今天</h3>
				<hr>
				<p>现在&nbsp;&nbsp;12时&nbsp;&nbsp;14时&nbsp;&nbsp;16时&nbsp;&nbsp;18时&nbsp;&nbsp;20时</p>
				<img src="../res/images/study/cloudy.png">
				<img src="../res/images/study/cloudy.png">
				<img src="../res/images/study/rainy.png">
				<img src="../res/images/study/rainy.png">
				<img src="../res/images/study/rainy.png">
				<img src="../res/images/study/rainy.png">
				<p>16°&nbsp;&nbsp;&nbsp;&nbsp;17°&nbsp;&nbsp;&nbsp;&nbsp;17°&nbsp;&nbsp;&nbsp;&nbsp;13°&nbsp;&nbsp;&nbsp;&nbsp;12°&nbsp;&nbsp;&nbsp;&nbsp;14°</p>
			</div>
		</div>
		<!--列表-->
		<nav>
			<ul >
				 <li class="tab-current" style="-webkit-transform: perspective(.5em) rotateX(3deg);width:12em;height:3em;">
				<img src="../res/images/study/3.png" style="width:20px;height:20px;display:inline-block;position:absolute;left:35px;top:15px;">
				<a href="./index.html" style="display:inline:block;">主页</a></li> 
				 <li  style="-webkit-transform: perspective(.5em) rotateX(3deg);margin-left:-28px;width:12em;z-index:1;height:3em;">
					<img src="../res/images/study/2.png" style="width:20px;height:20px;display:inline-block;position:absolute;left:50px;top:15px;">
					<a href="./classthing.html">班级</a></li>  
				<!-- <li style="-webkit-transform: perspective(.5em) rotateX(3deg);margin-left:-28px;border-left:none;z-index:0;width:12em;height:3em;">
					<img src="../res/images/study/1.png" style="width:20px;height:20px;display:inline-block;position:absolute;left:50px;top:15px;">
					<a href="#section-3">学习</a></li> -->
			</ul>
		</nav>
	</div>
	<!--主体-->
	<div class="content">
		<div class="row">
			<div class="col-sm-3 col-md-3 homeworks">
				<div class="title">
					<h3>每日练</h3>
					<div class="line">—————————————</div>
				</div>
				<div class="work">
					<div class="math">
						<img src="../res/images/study/math.jpg" alt="math">
						<p>高数练习册P28-32页</p>
					</div>
					<div class="c++">
						<img src="../res/images/study/C++.jpg" alt=c++">
						<p>上机实验及课后习题</p>
					</div>
					<div class="physics">
						<img src="../res/images/study/physics.jpg" alt="physics">
						<p>大物练习册-练习8，9，10</p>
					</div>
					<div class="english">
						<img src="../res/images/study/en.jpg" alt="english">
						<p>A篇预习，课后翻译，听力及作文</p>
					</div>
				</div>
			</div>
			<div class="row col-sm-9 col-md-9  news">
				<h3>天下事</h3>
				<div class="line">————————————————————————————————</div>
				<div class="col-sm-7 col-md-7  news1">
					<img src="../res/images/study/1489976313638.jpg" alt="">
					<p>最近荷兰埃因霍温理工大学研究人员提出了一个突破性的想法，用红外线把无线数据带到智能手机上，其结果竟然比Wi-Fi快100倍，而且还不受干扰。据埃因霍温理工大学教授 Ton Koonen 介绍，“目前我们使用的Wi-Fi基于无线电波技术，它很容易负荷过高和受到干扰。然而，红外线的引入就可以解决这个问题。通过‘光天线’从不同的角度辐射红外线光，准确地瞄准多个智能启用设备，就可以单独享受快捷的网络了。”</p>
				</div>
				<div class="col-sm-5 col-md-5 ">
					<div class="news2">
						<img src="../res/images/study/xianjing.jpg" alt="">
						<p>出门在外，最尴尬的状况就是手机没电，身边也没有充电宝和充电器。此时，当一个可以免费使用的充电桩摆在你面前时，其诱惑力不言而喻。然而，在享受免费充电的同时，你是否怀疑过它们背后的安全隐患呢？</p>
					</div>
					<div class="news3">
						<img src="../res/images/study/wifi.jpg" alt="">
						<p> 随着物联网的普及，蓝牙与Wi-Fi相继升级，双双开赴同一战场—蓝牙升级到5版本，提高了带宽和传输范围；Wi-Fi推出“Wi-Fi aLow”，降低功耗延长电池续航。它们将在消费级和企业级的物联网市场正面竞争。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-md-3 ">
				<div class="extracurricular">
					<h3>课外学</h3>
					<div class="line">—————————————</div>
					<div class="stu_thing">
						<div>
							<a href="#"><img src="../res/images/study/csdn.png"  alt=""></a>
							<a href="#"><img src="../res/images/study/github.jpg" alt=""></a>
						</div>
						<div>
							<a href="#"><img src="../res/images/study/imooc.jpg" alt=""></a>
							<a href="#"><img src="../res/images/study/php.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="video">
					<h3>开讲啦</h3>
					<div class="line">—————————————</div>
					<video  width="185" height="120" src="../res/video/play.mp4" poster="" autoloop loop controls></video>
				</div>
			</div>
			<div class="col-sm-9 col-md-9 blog ">
				<h3>他们说</h3>
				<div class="line">————————————————————————————————</div>
				<div class="blog1">
				    <div class="photo">
						<img src="../res/images/study/qiaobusi.jpg" alt="" align="left">
					</div>
					<div>
						<p > 你的时间有限，所以不要为别人而活。不要被教条所限，不要活在别人的观念里。不要让别人的意见左右自己内心的声音。最重要的是，勇敢的去追随自己的心灵和直觉，只有自己的心灵和直觉才知道你自己的真实想法，其他一切都是次要的。——乔布斯。
						</p>
					</div>
				</div>
                <div class="blog2">
					<div class="photo">
						<img src="../res/images/study/aidisheng.jpg" alt="">
					</div>
					<div class="">
						<p >
							“能够将你身体与心智的能量契而不舍地运用在同一个问题上而不会厌倦的能力……你整天都在做事，每个人都是。假如你早上7点起床，晚上11点睡觉，你做事就做了整整16个小时。对大多数人而言，他们肯定是一直在做一些事，唯一的问题是，他们做很多很多的事，而我只做一件事。假如他们将这些时间运用在一个方向，一个目标上，他们就会成功。”-----爱迪生。
						</p>
					</div>

				</div>
				<div class="blog3">
					<div class="photo">
						<img src="../res/images/study/mayun.jpg" alt=""> 
					</div>
					<div >
						<p class="">一个真正强大的人，不会把太多心思花在取悦和亲附别人上面。所谓圈子、资源，都只是衍生品。最重要的是提高自己的内功。只有自己修炼好了，才会有 别人来亲附。自己是梧桐，凤凰才会来栖;自己是大海，百川才来汇聚。你只有到了那个层次，才会有相应的圈子，而不是倒过来。-----马云</p>
					</div>
				</div>
               <div class="blog4">
                    <div class="photo">
						<img src="../res/images/study/aiyinsitan.jpg" alt="">
					</div>
					<div class="p3" >
						<p >
							提出一个问题往往比解决一个问题更重要，因为解决问题也许仅是一个数学上或实验上的技能而已。而提出新的问题、新的可能性，从新的角度去看旧的问题，都需要有创造性的想象力，而且标志着科学的真正进步。---爱因斯坦 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padding-top">
    	<div class="container">
    		<div class="row">
      			<div class="col-md-4 footer_panel ">
        			<h3 class="about ">关于我们<span class="divider-left"></span></h3>
        			<p>我们为武汉理工大学计算机科学与技术学院m1601班服务，为其提供最好的学习环境。</p>
        			<ul class="social_icon ">
          				<li><a  class="twitter"><i class="fa fa-twitter"></i></a></li>
          				<li><a  class="facebook"><i class="fa fa-facebook"></i></a></li>
          				<li><a  class="google"><i class="fa fa-google-plus"></i></a></li>
          				<li><a  class="pinterest"><i class="fa fa-pinterest"></i></a></li>
        			</ul>
      			</div>
      			<div class="col-md-3 footer_panel ">
        			<h3 class="about ">开发人员<span class="divider-left"></span></h3>
        			<ul class="group">
          				<li>主页&nbsp;设计:蒋殊&nbsp;制作:天一</li>
          				<li>班级&nbsp;设计:婧伊&nbsp;制作:思杰</li>
          				<li>学习&nbsp;设计:超恒&nbsp;制作:官宇霞</li>
          				<li>我们&nbsp;吃瓜队</li>
        			</ul>
      			</div>
        		<div class="col-sm-6 col-md-3 footer_panel ">
        			<h3 class="about ">联系我们<span class="divider-left"></span></h3>

        			<ul class="tous">
        				<li><i class="fa fa-laptop"></i> 武汉理工大学计科吃瓜队</li>
        				<li><i class="fa fa-phone"></i> 123-4567-8900</li>
        				<li><i class="fa fa-envelope"></i> Edua@info.com</li>
        			</ul>
    			</div>
    			<div class="col-sm-6 col-md-2">
    				<img class="xiaohui" src="../res/images/class/xiaohui.png" alt="">
    			</div>
		</div>
		<hr>
        <div class="friendlinks">
            	<p class="links-content">友情链接&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">武汉理工大学官网&nbsp;&nbsp;</a><a href="#" target="_blank">武汉理工大学教务处&nbsp;&nbsp;</a><a href="#" target="_blank">武汉理工大学经纬网&nbsp;&nbsp;</a><a href="#" target="_blank">武汉理工大学自强社</a></p>
        </div>
		<div class="copyright">
            Copyright © 2017 武汉理工大学计算机学院m1601&nbsp;&nbsp;<a href="#" target="_blank">blablablabla号</a><br>Powered By 吃瓜队.
        </div>
  	</div>	
</body>
</html>