.padding-top{
	background:#0dbcff;
  width: 100%;
}
.footer_panel ul.social_icon li a, .copyright, .copyright p{
  color:#000;
}
.padding-top p{
  font-size: 0.9em;
  color: #444646;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}
.container hr{
  margin: 10px 0;
  border-top: 1px solid #3d545c;
}
.footer_panel{
  padding-right: 2em;
}
.footer_panel h3{
  font-size: 1.2em;
  color: rgba(52,104,123,1);
}

 .footer_panel .footer_logo {
  display: inline-block;
}
 .footer_panel p.address, .services p.address{
  margin-left: 30px;
  margin-bottom:5px;
  font-size: 1em;
}
 .footer_panel p.address a:hover{
	color:#ffffff;
}
 .footer_panel p.address > i, .services p.address > i{
  display: inline-block;
  font-size:19px;
  margin-left: -30px;
  vertical-align: middle;
  width:25px;
}
.about{
  width: 80px;
}
.tous{
  display: inline-block;
  float: left;
  padding-left: 0;
}

/* 图标特效 */
.social_icon ul{
  padding-left: 0;
}
ul.social_icon li a{
  color: #0f0f0f;
  display: block;
  font-size:20px;
  height:36px;
  line-height:38px;
  text-align: center;
  width:36px;
  border-color:#000;
  border-radius:4px;
  position:relative;
  z-index:1;
  box-shadow: inset 0px 0px 1px 1px #3d545c;
  box-shadow: inset 0px 0px 1px 1px #3d545c;
  box-shadow: inset 0px 0px 1px 1px #3d545c;
}

ul.social_icon.black li a{
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);
  
}

.social_icon li a.twitter:after{
  background:#dc143c;
}
.social_icon li a.facebook:after{
  background:#ff4500;
}
.social_icon li a.google:after{
  background:#00ff00;
}
.social_icon li a.pinterest:after{
  background:#ffd700;
}
.social_icon li a:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:#f7c51e;
  transition:.4s;
  border-radius:4px;
  opacity: 0;
  transform: scale(1.3);

  color:#fff;
  z-index:-1;
}

ul.social_icon li a:hover:after{
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
ul.social_icon li a:hover,ul.social_icon li a i:hover{
  color: #fff;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.fa{
  color: #3d545c;
}

/*开发成员*/
.group{
  padding-left: 0;
}
.group li, ul.social_icon li, .widget .tags > li, .commment li{
  display: inline-block;
}
.group li {
  float: left;
  width: 100%;
  color: #444646;
  font-size: 1em;
}
.tous li{
  color: #444646;
}
/* 点击后变化 */
ul.group li a:hover, ul.group li a:focus{
	color:#ff4500;
}


/*校徽*/
.xiaohui{
  float: left;
  width: 135px;
  height: 135px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.7;
}
/*友情链接*/
.friendlinks{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.friendlinks h3{
  color: #363636;
  font-size: 1.2em;
  display: inline-block;
}
.net{
  margin: 0 auto;
}
.tous{
  list-style: none;
}
.links-content{
  color: #444646;
  text-align: center;
  padding-left: 10px;
  font-size: 0.8em;
  font-weight: 800;
}
.links-content a{
  color: #444646;
  text-decoration: none;
  font-weight: 500;
}
.links-content a:hover{
  color: OrangeRed;
  text-decoration: none;
}
/*copyright*/
.copyright{
  text-align: center;
  font-size: 0.8em;
  color: #444646;
}
.copyright a{
  color: #444646;
  text-decoration: none;
}
.copyright a:hover{
  color: OrangeRed;
  text-decoration: none;
}


